<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!--<receiver android:name="com.appboy.AppboyFcmReceiver" android:permission="com.google.android.c2dm.permission.SEND" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<category android:name="${applicationId}" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <activity android:name=".QAActivity" />

    </application>

</manifest>
